<!doctype html>
<html lang="en" style="overflow-y: hidden;"></html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{# <link rel="stylesheet" href="../../assets/styles/css/nav.css"> #}


	{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}

	{% endblock %}


</head>
<body>

	<!-- CONTENT -->
	<section>
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center gx-0 min-vh-100">
				<div
					class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

					<!-- Heading -->
					<h1 class="mb-0 fw-bold">
						Ouvrir une session
					</h1>

					<!-- Text -->
					<p class="mb-6 text-muted">
						Administration du site internet.
					</p>

					<!-- Form -->
					<form method="post" class="mb-6">

						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}


						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>


						<!-- Email -->
						<div class="form-group">
							<label class="form-label" for="inputemail">

								Email
							</label>
							<input type="email" class="form-control" name="email" id="email" value="{{ last_username }}" placeholder="name@address.com" autocomplete="email" autofocus required>


						</div>

						<!-- Password -->
						<div class="form-group mb-5">
							<label class="form-label" for="inputPassword">
								Password
							</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" autocomplete="current-password" required>


						</div>
						<div class="form-group">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>


						<!-- Submit -->
						<button class="btn w-100 btn-primary" type="submit">
							Ouvrir une session
						</button>

					</form>

					<!-- Text -->
					<p class="mb-0 fs-sm text-muted">
						vous avez pas le compte!
						<a href="signup-cover.html">Inscription</a>.
					</p>

				</div>
				<div
					class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">


					<!-- Image -->
					<div class="h-100 w-cover bg-cover" style="background-image: url(https://images.pexels.com/photos/2724748/pexels-photo-2724748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></div>


					<!-- Shape -->
					<div class="shape shape-start shape-fluid-y text-white">
						<svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>


</body></html>
