<section class="pt-7 pt-md-10">
	<hr>
	<div class="container">
		<div class="row ">
			<div
				class="col-12">
				<!-- Heading -->

				<h2 class="mb-0">
					Dernières actualités</h2>
			</div>
			<!-- -->
			<p class="mb-5 text-muted">
				These span the grid's entre width with sevral option
			</p>

		</div>

		<div class="row">

			<div class="col-12 col-lg-12 row">

				{% for image in images %}

					<div class=" shadow-light-lg mb-6 lift lift-lg col-lg-4" data-aos="zoom-out">


						<div
							class="col-12 col-md-4 col-lg-12 order-md-1">

							<!-- Body -->
							<a
								class="card-body" href="#!">

								<!-- Heading -->
								<h3>
									{# {{image[2]}} #}

								</h3>
								<div id="{{image[0][0]. nom}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
											<img src="{{vich_uploader_asset(image[0][0],'imageFile')|imagine_filter('blogpost') }}" class="d-block w-100" alt="...">


										</div>
										<div class="carousel-item">
											<img src="{{vich_uploader_asset(image[0][1], 'imageFile')|imagine_filter('blogpost') }}" class="d-block w-100" alt="...">


										</div>
										<div class="carousel-item">
											<img src="{{vich_uploader_asset(image[0][2], 'imageFile')|imagine_filter('blogpost') }}" class="d-block w-100" alt="...">


										</div>
									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#{{image[0][0]. nom}}" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#{{image[0][0]. nom}}" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>


								<!-- Text -->


							</a>

							<!-- Meta -->
							<a
								class="card-meta" href="#!">

								<!-- Divider -->
								<hr
								class="card-meta-divider">


								<!-- Author -->
								<h6
									class="text-uppercase text-muted me-2 mb-0">
									{# {{ image[0][0].categorie().nom() }} #}
									{{image[2]}}


								</h6>

								<!-- Date -->
								<p class="h6 text-uppercase text-muted mb-0 ms-auto">
									<time datetime="2019-05-02">{{image[1]|date('d-m-Y') }}</time>

								</p>

							</a>

						</div>

					</div>
				{% endfor %}


			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
